body{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0em;
	color: #000000;
}
.container{
	max-width: 1100px;
	padding: 0 10px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}

/* Button */
.button{
	font-size: 12px;
	line-height: 1;
	text-transform: capitalize;
	text-align: center;
	color: #FFFFFF;
	background: #EE171F;
	border-radius: 20px;
	padding: 5px 25px;
	display: flex;
	align-items: center;
	justify-content: center;
  min-width: 90px;
	position: relative;
}
.button__link{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.button__shadow{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button--full{
  display: block;
}
/* Avatar */
.avatar{
	border-radius: 50%;
	max-width: 100%;
	max-height: 100%;
}
/* Main title */
.mainTitle{
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 62px;
}
/* User-name */
.user-name{
	font-size: 36px;
	line-height: 42px;
	font-weight: 500;
	color: #000000;
}
/* Profile info */
.profile{
	display: flex;
	align-items: center;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	border-radius: 35px;
	padding: 25px 26px 26px 23px;
}
.profile__image{
	max-width: 197px;
	max-height: 197px;
	margin-right: 17px;
}
.profile__info-user{
	margin-bottom: 4px;
}
.profile__info-id{
	font-size: 18px;
	line-height: 21px;
	color: #9C9C9C;
	margin-bottom: 21px;
}

/* Badge */
.badge-admin{
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
	color: #FFFFFF;
	background-color: #707070;
	padding: 2px 9px 3px;
	border-radius: 10px;
}

/* Title */
.title{
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 22px;
}

/* Action */
.action{
	max-width: 558px;
}
.action__names{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 25px 8px 18px;
}
.action__name{
	font-weight: 500;
	line-height: 14px;
	color: #5B5B5B;
	text-transform: capitalize;
}
.action__name:first-child{
	width: 123px;
}
.action__name:nth-child(2){
	margin-right: auto;
}
.action__list{
	margin-bottom: 13px;
}
.action__item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	border-radius: 22px;
	padding: 9px 56px 9px 18px;
	margin-bottom: 5px;
}
.action__item-text:first-child{
	min-width: 123px;
}
.action__item-text:nth-child(2){
	padding-right: 5px;
	margin-right: auto;
}

/* User-action */
.user-action{
	max-width: 558px;
}
.user-action__button{
	display: flex;
	justify-content: flex-end;
}

/* Addresses */
.addresses{
	max-width: 392px;
}
.addresses__blocks{
	display: flex;
	justify-content: space-between;
	margin-bottom: 19px;
}
.addresses-block{
	max-width: 182px;
	background: #FFFFFF;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	border-radius: 35px;
	padding: 21px 32px 38px 25px;
	position: relative;
}
.dots{
	display: flex;
	flex-direction: column;
	width: 4px;
	cursor: pointer;
	position: absolute;
	top: 23px;
	right: 27px;
}
.dot{
	width: 100%;
	height: 3px;
	background-color: #000000;
	border-radius: 50%;
	margin-bottom: 1px;
}
.user-name--size{
	font-size: 12px;
	line-height: 14px;
}
.addresses-block__info{
	margin-top: 16px;
}
.addresses__button{
	display: flex;
	justify-content: flex-end;
}

/* Comments */
.comments-admin,
.comments-user{
	max-width: 486px;
	padding: 9px 22px 11px 12px;
	background-color: inherit;
}
.comment-admin--margin{
	margin-bottom: 20px;
}
.comment-admin__info,
.comment-user__info{
	display: flex;
	align-items: center;
	margin-bottom: 11px;
}
.comment-user__avatar{
	width: 33px;
	height: 33px;
	margin-right: 9px;
}
.comment-admin__badge{
	margin-left: 7px;
}
.timeAgo{
	font-style: italic;
	color: #9A9A9A;
	margin-left: 11px;
	margin-right: 10px;
}
.comment__text{
	padding-left: 10px;
}

/* Modal Window */
.modal__overlay{
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	z-index:1050;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}
.modal{
	display: none;
}
/* JS - show modal window*/
.modal-overlay--visible{
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}
.modal--visible{
	display: block;
}
/*  */
.modal__dialog{
	display: flex;
	width: 688px;
	min-height: 262px;
	flex-wrap: nowrap;
}
.modal__content{
	width: 50%;
	background-color: #FFFFFF;
	border-radius: 20px 0px 0px 20px;
	padding: 35px 44px;
}
.modal__right{
	width: 50%;
	background-color: #DBDBDB;
	border-radius: 0px 20px 20px 0px;
}
.modal__title{
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 8px;
}
.signIn{
	text-align: center;
	margin-bottom: 8px;
}
.signIn__link{
	text-decoration: underline;
	color: #0093B4;
}
.form__input{
	width: 100%;
	height: 28px;
	background-color: #DBDBDB;
	border: #DBDBDB;
	border-radius: 14px;
	padding: 0 10px;
	margin-bottom: 8px;
}
.form__input::placeholder{
	font-weight: 500;
	color: #868686;
}
.form__input:focus{
	font-weight: 500;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
	outline: inherit;
}
.first-name{
	max-width: 49.4%;
	border-radius: 14px 0 0 14px;
}
.last-name{
	max-width: 49.4%;
	border-radius: 0 14px 14px 0;
}
.form__btn{
	width: 100%;
	cursor: pointer;
	border: 1px solid #EE171F;
	margin-bottom: 8px;
	transition: all 0.5 ease 0;
}
.form__btn--marginTop{
	margin-top: 3px;
}
.form__btn:hover{
	background-color: #e00c13;
	border: 1px solid #e00c13;
}
.checkbox__input{
	display: none;
}
.checkbox__input:checked + .checkbox__label::after{
	transform: scale(1);
}
.checkbox__label{
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.checkbox__label::before{
	content: "";
	align-self: flex-start;
	flex: 0 0 16px;
	height: 16px;
	background-color: #DBDBDB;
	border-radius: 4px;
	margin: 0 7px 0 0;
}
.checkbox__label::after{
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 2px;
	left: 2px;
	background-color: #0093B4;
	border-radius: 4px;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
}
.checkbox__label span{
	white-space: nowrap;
}
.checkbox__label  a{
	color: #0093B4;
}
/* //Editor
.editor{
	width: 500px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 0.19);
}
Text Editor Header
form{
	margin: 10px 0;
}
button{
	border: none;
	outline: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
#output{
	width: 700px;
	height: 400px;
	border: 1px solid #111;
}
.action { 
	border: 1px solid crimson;
}
.textrea{
	max-height: 200px;
	border: 1px solid #ecf0f1;
	border-top: 0px;
	padding: 20px;
} */

/* Cards */
.calendar-cards{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 61px;
	row-gap: 20px;
}
.calendar-cards__wrapper{
	display: block;
	position: relative;
}
.blockWrapper-link{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.calendar-cards__wrapper-img{
	width: 100%;
	height: 100%;	
	border-radius: 10px;
}

.calendar-cards__inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 20px;
	padding: 0 23px;
}
.calendar-cards__inner-name{
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	margin-right: 10px;
}
.calendar-cards__inner-arrowTop{
	width:36px;
	height: 36px;
	padding: 6px;
	background-color: #FFFFFF;
	border-radius: 50%;
}
/* Characters-list */
.characters{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 25px;
}
.characters__card{
	position: relative;
}
.characters__card-img{
	border-radius: 35px;
}
.characters__card-name{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 70px;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(25px);
	border-radius: 35px;
	position: absolute;
	bottom: 3px;
	transition: all 0.5s ease;
}
.characters__card:hover .characters__card-name{
	height: 90px;
}
/* Comics-cards */
.comics-cards{
	display: flex;
	justify-content: center;
	align-items: center;
	row-gap: 57px;
	column-gap: 49px;
	flex-wrap: wrap;
}
.comics-cards__bodyInner{
	position: relative;
	margin-bottom: 10px;
}
.comics-cards__item{
	position: relative;
}
.comics-cards__bodyInner img{
	border-radius: 35px;
}
.comics-cards__bodyInner-grade{
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	padding: 9px 11px 9px 36px;
	background-color: #FFFFFF;
	border-radius: 0px 20px 0px 34px;
	position: absolute;
	bottom: 3px;
}
.comics-cards__bodyInner-grade::before{
	content: url('../img/icons/star.svg');
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	position: absolute;
	left: 14px;
	transform: translateY(2px);
}
.comics-cards__info{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.comics-cards__info-name{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 5px;
}
.comics-cards__info-collectionName{
	color: #474747;
}
.comics-cards__descr .comics-cards__info-name{
	color: #FFFFFF;
}
.comics-cards__descr .comics-cards__info-collectionName{
	color: #B6B6B6;
}
.comics-cards__info-price{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: end;
	color: #EE171F;
}
.comics-cards__descr{
	opacity: 0;
	position: absolute;
	left: -5px;
	right: -5px;
	bottom:0;
	padding: 19px 12px 8px;
	background: linear-gradient(180deg, rgba(77, 77, 77, 0.83) 0%, #000000 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}
.comics-cards__descr-text{
	color: #FFFFFF;
	margin-bottom: 40px;
}
.comics-cards__info-btn{
	margin-top: 9px;
}
.comics-cards__item:hover .comics-cards__descr{
	opacity: 1;
}